{:tasks
 {:requires ([babashka.fs :as fs]
             [babashka.process :as proc]
             [babashka.cli :as cli])

  :init (def opts
          (cli/parse-opts
            *command-line-args*
            {:spec {:release {:coerce :boolean}}}))

  -build-type (if (:release opts) "release" "debug")

  setup
  {:doc "Run project setup (args: --release)"
   :depends [-build-type]
   :task (let [build-path (fs/path "build" -build-type)]
           (proc/shell {:continue true} "meson" "setup" build-path)
           (when (= -build-type "release")
             (proc/shell {:continue true}
               "meson" "configure" build-path "-Dbuildtype=release")))}

  build
  {:doc "Compile the program (args: --release)"
   :depends [-build-type]
   :task (if (seq (fs/modified-since
                    (fs/file "build" -build-type "fluid-sim-sph")
                    "fluid-sim-sph"))
           (proc/shell {:continue true}
             "meson" "compile" "-C" (fs/path "./build" -build-type)))}

  exe
  {:doc "Run the program (args: --release)"
   :depends [-build-type]
   :task (proc/shell {:continue true}
           (fs/path "build" -build-type "fluid-sim-sph"))}

  ,}}
